## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,East London,ZA,66.88,light rain,-33.0153,27.9116,Tu Casa
1,3,Mogadishu,SO,78.73,overcast clouds,2.0371,45.3438,Hotel Juba
2,8,Busselton,AU,74.93,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,10,Eldorado,BR,86.09,clear sky,-23.7869,-54.2836,Villa Verde Hotel
4,11,Mar Del Plata,AR,66.09,light rain,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == 'Cape Town']
vacation_end = vacation_df.loc[vacation_df.City == 'Cape Town']
vacation_stop1 = vacation_df.loc[vacation_df.City == 'Stellenbosch']
vacation_stop2 = vacation_df.loc[vacation_df.City == 'Hermanus'] 
vacation_stop3 = vacation_df.loc[vacation_df.City == 'Bredasdorp']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
43,85,Cape Town,ZA,66.88,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [8]:
startloc = (start[0][5], start[0][6])
endloc = (end[0][5], end[0][6])
stop1loc = (stop1[0][5], stop1[0][6])
stop2loc = (stop2[0][5], stop2[0][6])
stop3loc = (stop3[0][5], stop3[0][6])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
layer_map = gmaps.directions_layer(
        startloc, endloc, waypoints=[stop1loc, stop2loc, stop3loc],
        travel_mode='DRIVING')
fig.add_layer(layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,85,Cape Town,ZA,66.88,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
1,447,Stellenbosch,ZA,65.61,scattered clouds,-33.9346,18.8668,Summerwood Guest House
2,80,Hermanus,ZA,64.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,82,Bredasdorp,ZA,65.52,light rain,-34.5322,20.0403,Bredasdorp Country Manor

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))